@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Goblin+One');
@import url('https://fonts.googleapis.com/css?family=Flavors');
body {
  font-size: 16px;
}
#top_drawer {
  width: 100%;
  position: fixed;
  border: 0px;
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-bottom-width: 1px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  backdrop-filter: blur(2px);
}
#top_drawer .module-inner {
  padding: 0px;
}
#top_drawer .module-inner .module-ct {
  padding: 0px;
}
#top_drawer .module_menu {
  margin: 0px;
  padding: 0px;
}
#top_drawer .module_menu ul.nav > li {
  display: inline-block;
}
#top_drawer .module_menu ul.nav > li a {
  display: inline-block;
  padding: 20px;
  min-height: 40px;
  color: #FFFFFF;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}
#top_drawer .module_menu ul.nav > li > a a {
  display: block;
  width: 100%;
}
#top_drawer .module_menu ul.nav li:hover a,
#top_drawer .module_menu ul.nav li.hover a,
#top_drawer .module_menu ul.nav li.active a,
#top_drawer .module_menu ul.nav li.current a {
  display: inline-block;
  background: rgba(250, 250, 250, 0.2);
  min-height: 40px;
}
h1,
.items-row h2.article-title a {
  color: #C31A1A;
  font-family: 'Goblin One', cursive !important;
  font-weight: normal !important;
}
h1.page-title {
  font-family: 'Flavors', cursive !important;
  display: inline-block;
  font-size: 50px !important;
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
}
#tbw-pagemiddle #t3-mainbody .th-box-wrapper {
  padding-bottom: 0px !important;
}
#tbw-pagemiddle {
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}
#tbw-pagemiddle h3 {
  text-align: center;
}
#tbw-pagemiddle h3 span {
  font-family: 'Megrim', cursive !important;
  font-size: 50px !important;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: none !important;
  display: inline-block;
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
}
#tbw-pagebottom {
  background: url(../images/rainbow_texture1762.jpg) no-repeat !important;
  background-size: 100% auto;
}
#tbw-pagebottom h3 {
  font-family: 'Megrim', cursive !important;
  font-size: 35px !important;
  font-weight: 300;
  color: #990000 !important;
  text-transform: none !important;
  display: inline-block;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
}
.pagemiddle-wrapper #tbw-pagemiddle {
  background: #121212;
}
#tbw-pagemiddle #t3-mainbody .th-box-wrapper {
  border: 0px !important;
}
#tbw-pagebottom {
  color: #FFFFFF !important;
}
