body {
  overflow: scroll;
}
.container {
  width: 100%;
}
#tbw-pagetop {
  
  background: url(../../../../templates/source3/images/background-gradient.jpg) repeat-x 0% 100%;
  overflow: hidden;
  z-index: 2;
}
#tbw-pagetop .th-box {
  background: none !important;
}
#tbw-pagetop .th-header-top {
  padding-top: 0px;
  position: relative;
  z-index: 10;
}
#tbw-pagetop .th-header-top h2 {
  color: #FFFFFF;
  text-transform: none;
  font-family: Century Gothic;
  font-weight: bold;
  font-size: 2vw;
  text-shadow: 0px 0px 1px #000000;
}
@media screen and (max-width: 992px) {
  #tbw-pagetop .th-header-top h2 {
    font-size: 8vw;
  }
}
#tbw-pagetop .logo {
  height: auto;
  min-height: auto;
}
#tbw-pagetop .logo img {
  height: auto;
}
#tbw-pagetop .tbw-top_drawer {
  top: 0px;
}
@media screen and (max-width: 768px) {
  #tbw-pagetop .tbw-top_drawer {
    background: #1f577a;
  }
}
#tbw-pagetop .tbw-top_drawer ul.nav {
  width: 100%;
}
#tbw-pagetop .tbw-top_drawer ul.nav li {
  display: inline-block;
}
#tbw-pagetop .tbw-top_drawer .t3-module {
  background: none;
}
#tbw-pagetop .slideshow {
  text-align: center;
  border: 3px solid #FFFFFF;
  border-radius: 100%;
  width: 100%;
  height: 960px;
}
@media screen and (max-width: 992px) {
  #tbw-pagetop .slideshow {
    height: 768px;
  }
}
@media screen and (max-width: 768px) {
  #tbw-pagetop .slideshow {
    height: 620px;
  }
}
@media screen and (max-width: 480px) {
  #tbw-pagetop .slideshow {
    height: 480px;
  }
}
#tbw-pagetop .slideshow img {
  max-width: 25%;
}
#tbw-pagetop .pagemiddle-wrapper {
  background: #4f3c30;
  max-height: 550px;
}
#tbw-pagetop h1 {
  color: #FFFFFF;
  font-size: 5vw;
  font-family: 'Poiret One', cursive;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
}
.t3-mainnav {
  background: transparent;
}
.t3-mainnav li {
  margin: 10px;
  margin-top: 20px;
}
.t3-mainnav a {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  font-weight: bold;
}
.t3-mainnav a:hover {
  color: #FFF;
}
.mountains {
  margin-top: -50px;
  z-index: 1;
  position: relative;
  width: 100%;
  float: left;
}
@media screen and (max-width: 992px) {
  .mountains {
    margin-top: 0px;
  }
}
.mountains img {
  width: 100%;
  height: auto;
}
.cbPoweredBy {
  display: none;
}
.cb_template.cbRegistrationCanvas .cbRegistrationHeader {
  background-image: none !important;
}
.cb_template.cbRegistrationCanvas .cbRegistrationHeader {
  height: auto;
}
.cb_template.cbRegistrationCanvas .cbRegistrationHeader .cbRegistrationHeaderInner {
  position: relative;
}
.cb_template.cbRegistrationCanvas .cbRegistrationHeader * {
  text-shadow: none !important;
}
.cb_template.cbRegistrationCanvas .cbRegistrationHeader .cbRegistrationTitle {
  margin-top: -50px;
  position: absolute;
}
#tbw-pagemiddle {
  background: url(../../../../templates/source3/images/main-bkgrnd.jpg) no-repeat 50% 0px #3c2b20;
  background-size: 100%	auto;
  padding-top: 0px;
  z-index: 2;
}
#tbw-pagemiddle h3 {
  text-transform: uppercase;
  font-size: 24px;
  padding-bottom: 20px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
#tbw-pagemiddle #t3-mainbody {
  background: #FFFFFF;
  margin-top: 20px;
}
.mountains {
  position: relative;
}
.mountains img {
  width: 100%;
  height: auto;
}
#ktop {
  display: none;
}
#tbw-pagebottom {
  background: #FFFFFF;
}
div[class*="col-"] div[class*="col-"] {
  padding-left: 0px;
}
#Kunena div.kmsg-header {
  padding: 10px;
  color: #000000;
  background: transparent;
  font-size: 14px;
  padding-bottom: 0px;
  border-bottom: 0px !important;
}
#Kunena div.kmsg-header a {
  color: inherit;
}
#Kunena .navbar-toggle {
  left: 10px;
  margin-top: 10px;
  color: #000000;
  font-size: 24px;
}
#Kunena .jf_ku_modal_trigger {
  width: 90px !important;
}
#Kunena .jf_ku_modal_trigger .fa.fa-lock {
  padding-right: 10px;
}
#Kunena .kforum-pathway {
  border-top: 2px solid #000 !important;
  min-height: 40px;
  padding-top: 12px;
  font-size: 14px;
}
#Kunena .kforum-pathway .path-element-first {
  background: none;
  padding: 1px 6px 0px 35px;
}
#Kunena .kforum-pathway .path-element:before {
  content: "\F0DA";
  font-family: FontAwesome;
  margin-left: -12px;
  padding-right: 6px;
}
#Kunena table.kmsg {
  border: 0px;
  border-bottom: 1px solid #CCCCCC;
}
#Kunena h1,
#Kunena h2 {
  font-size: 26px;
}
#Kunena span.kmsgtitle,
#Kunena span.kmsgtitle-new {
  float: none;
}
#Kunena td.kprofile-left {
  display: none;
}
#Kunena td.kbuttonbar-left {
  display: none;
}
#Kunena span.kavatar img {
  height: 40px !important;
  width: 40px !important;
}
#Kunena td.kmessage-left {
  padding-top: 0px;
  padding-bottom: 10px;
  border: 0px;
}
#kpost-topicicons {
  display: none !important;
}
#Kunena div.kmsgbody div.kmsgtext {
  margin-bottom: 0px !important;
}
#Kunena .kblock .kmsgbody {
  min-height: 0px;
  margin-top: 0px;
  padding-top: 0px;
}
#Kunena td.kpostbuttons {
  border-bottom: 0px !important;
  border-top: 0px !important;
}
@media (max-width: 579px) {
  #Kunena div.kmsgbody {
    padding-bottom: 10px !important;
  }
  #Kunena td.kpostbuttons {
    height: auto;
  }
  #Kunena table#kpostmessage td {
    width: 100% !important;
  }
}
body #Kunena .kblock div.kheader .ktitle-desc {
  line-height: 1em;
}
#tbw-pagemiddle .tbw-content-top {
  padding: 0px;
}
#tbw-pagemiddle .tbw-content-top .module-inner {
  padding: 0px;
}
#tbw-pagemiddle .tbw-content-top .module-inner .module-ct {
  padding: 0px;
}
#tbw-pagemiddle .t3-sidebar {
  border-right: 1px solid #000;
}
#tbw-pagemiddle .t3-sidebar a {
  color: #000000;
}
#tbw-pagemiddle .t3-sidebar .t3-module {
  box-shadow: none !important;
}
#tbw-pagemiddle .t3-sidebar .t3-module .module-inner {
  padding: 0px;
}
#tbw-pagemiddle .t3-sidebar .t3-module .module-inner h3.module-title {
  padding: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#tbw-pagemiddle .t3-sidebar .t3-module .module-inner .module-ct {
  padding: 0px;
}
#tbw-pagemiddle .t3-sidebar #login-form #modlgn-username,
#tbw-pagemiddle .t3-sidebar #login-form #modlgn-passwd {
  width: 100%;
  height: 31px;
  line-height: 31px;
}
#tbw-pagemiddle .t3-sidebar #login-form .input-append,
#tbw-pagemiddle .t3-sidebar #login-form .input-prepend {
  width: 100%;
}
.container {
  max-width: 100%;
}
#tbw-pagetop .container .container,
#tbw-pagemiddle .container .container {
  padding: 0px;
}
#tbw-pagebottom {
  padding-bottom: 50px;
  background: #3c2b20;
  color: #a0a0a0;
  font-family: 'Source Sans Pro', sans-serif;
}
#tbw-pagebottom h3 {
  color: #ffffff;
}
#tbw-pagebottom > .tbw-container {
  background: #FFFFFF;
}
#tbw-pagebottom .t3-copyright,
#tbw-pagebottom .th-box .th-box-wrapper,
#tbw-pagebottom .th-box {
  background: none;
}
.tbw-top_drawer {
  position: absolute;
  width: 100%;
  font-size: 12px;
  text-align: right;
  overflow: hidden;
  z-index: 1031;
}
.tbw-top_drawer .container .t3-spotlight > div {
  float: right;
}
.tbw-top_drawer .container .t3-module {
  margin: 0px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .tbw-top_drawer .container .t3-module {
    background: #969696;
    position: relative;
  }
}
.tbw-top_drawer .container .t3-module .module-ct {
  padding: 0px;
}
@media screen and (max-width: 768px) {
  .tbw-top_drawer {
    background: #969696;
    position: relative;
  }
}
.tbw-page_title {
  background: #999999;
}
.tbw-page_title .container {
  padding-left: 15px;
  padding-right: 15px;
}
.tbw-page_title .container .tbw-box {
  margin-left: 15px;
  margin-right: 15px;
  text-align: right;
}
.t3-sidebar .th-box-wrapper {
  background: none;
}
.margin-left-wrapper {
  background: none;
}
.registration #tbw-pagemiddle {
  padding-top: 50px;
}
.registration #tbw-pagemiddle .th-box-wrapper {
  text-align: left;
  padding: 0px !important;
}
.registration #tbw-pagemiddle #t3-mainbody .th-box-wrapper {
  background: #FFFFFF !important;
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .registration #tbw-pagemiddle #t3-mainbody .th-box-wrapper {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
.k2AccountPage th.k2ProfileHeading,
.k2AccountPage table.admintable td.key,
.k2AccountPage table.admintable td.paramlist_key {
  background: none;
}

.componentheading {
  display: block;
  position: absolute;
  font-size: 35px;
  height: 50px;
  padding: 0px;
  margin: 0px;
  margin-top: -50px;
  color: #FFFFFF;
}