.sc-pretext{
	padding:10px 0; 
}

.sc-posttext{
	padding:0 0 10px 0;
}

.sj-social-media-counts{
    margin-bottom: 20px;
}

.sj-social-media-counts .sc-wrap .sc-item  {
    float: left;
	width: 100%;
	color: #333;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.sj-social-media-counts .sc-wrap .sc-item:first-child{
    padding-top: 0;
}

.sj-social-media-counts .sc-wrap .sc-item:last-child{
    border: 0;
    padding-bottom: 0;
}

.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner{
	margin:0 5px;
	overflow:hidden;
}



.sj-social-media-counts .sc-wrap .sc-item a,
.sj-social-media-counts .sc-wrap .sc-item a:hover{
	text-decoration:none;
	color:#444;
}

.sj-social-media-counts .sc-wrap .sc-item-inner {
    
}


.sj-social-media-counts .sc-wrap .like-count {
    font-size: 18px;
    line-height: 15px;
    margin: 9px 0 0;
    overflow: hidden;
    padding: 0 15px;
	display:block;
}

.sj-social-media-counts .sc-wrap    .like-text {
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    padding: 0 15px;
	line-height:22px;
	display:block;
}

.sj-social-media-counts .sc-wrap  .sc-item .sc-icon{
	border-radius: 2px;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    transition:all .5s;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
}

.sj-social-media-counts .sc-wrap .sc-item:hover .sc-icon{
    background-color: #777;
}

.sj-social-media-counts .sc-wrap .fb-like-button .sc-icon-facebook{
	background:url('social-media-counter/facebook.png')  no-repeat center center #4968A9;
}

.sj-social-media-counts .sc-wrap .twitter-like-button .sc-icon-twitter {
	background:url('social-media-counter/twitter.png') no-repeat center center #11C2EA;
}

.sj-social-media-counts .sc-wrap .rss-like-button .sc-icon-rss{
	background:url('social-media-counter/feed.png') no-repeat center center #FD9F13;
}

.sj-social-media-counts .sc-wrap .linkedin-like-button .sc-icon-linkedin{
	background:url('social-media-counter/linkedin.png') no-repeat center center #3F93D3;
}

.sj-social-media-counts .sc-wrap .vimeo-linke-button .sc-icon-vimeo{
	background:url('social-media-counter/vimeo.png') no-repeat center center #1ab7ea;
}

.sj-social-media-counts .sc-wrap .soundcloud-like-button .sc-icon-soundcloud{
	background:url('social-media-counter/soundcloud.png') no-repeat center center #faa21e;
}

.sj-social-media-counts .sc-wrap .dribbble-like-button .sc-icon-dribbble{
	background:url('social-media-counter/dribbble.png') no-repeat center center #eb4c89;
}

.sj-social-media-counts .sc-wrap .youtube-subscribers-button .sc-icon-youtube{
	background:url('social-media-counter/youtube.png') no-repeat center center #ce322e;
}

.sj-social-media-counts .sc-wrap .gplus-like-button .sc-icon-gplus{
	background:url('social-media-counter/gplus.png') no-repeat center center #ce3633;
}

.sj-social-media-counts .sc-wrap .instagram-like-button .sc-icon-instagram{
	background:url('social-media-counter/instagram.png') no-repeat center center #2f689b;
}

@media all and (max-width: 479px){
	.sj-social-media-counts .sc-wrap .sc-item{
		width:100%;
	}
	
	.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner{
		margin:0;
	}
	
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}