.navbar-brand {
  float: none;
}
.navbar-toggle {
  padding: 0;
  height: 24px;
  line-height: 24px;
  width: 24px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (min-width: 991px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 1.75px -15px;
  white-space: nowrap;
}
.navbar-nav > li {
  display: inline-block;
  float: none;
}
@media (min-width: 991px) {
  .navbar-nav {
    margin: 0;
  }
}
.navbar-default {
  
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav.level0 {
  font-size: 0px;
}
.navbar-default .navbar-nav > li > a {
  color: #bebebe;
  padding: 17px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: Center;
  font-size: 14px;
}
@media screen and (min-width: 991px) {
  .navbar-default .navbar-nav > li > a {
    padding: 0 20px;
    line-height: 24px;
  }
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #222222;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background: #9fcdec;
}
.navbar-default .navbar-nav > .active > a > .caret {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #9fcdec;
  color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle .fa-bars {
  background-color: transparent;
  color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ebebeb;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #222222;
  color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #bebebe;
  border-bottom-color: #bebebe;
}
@media (max-width: 991px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    background: #ebebeb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li {
    border-top-color: #dedede;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #bebebe;
    padding: 20px 20px 20px 30px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #222222;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #222222;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ffffff;
    background-color: #000000;
  }
}
@media screen and (max-width: 991px) {
  .navbar-default .navbar-nav .open .level2.dropdown-menu {
    background: #dedede;
    border-top: 1px solid #d2d2d2;
    margin-top: 0;
  }
  .navbar-default .navbar-nav .open .level2.dropdown-menu > li {
    border-top-color: #d2d2d2;
  }
  .navbar-default .navbar-nav .open .level2.dropdown-menu > li > a {
    padding-left: 40px;
    color: #444444;
  }
  .navbar-default .navbar-nav .open .level2.dropdown-menu > li > a:hover {
    color: #fff;
  }
}
.navbar-default .navbar-link {
  color: #bebebe;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
.t3-mainnav {
  background: #666;
  border: 0;
  border-radius: 0;
}
@media (min-width: 991px) {
  .t3-mainnav > .container {
    position: relative;
  }
}
.t3-mainnav .t3-navbar {
  padding-left: 0;
  padding-right: 0;
  float: left;
}
.t3-mainnav .t3-navbar-collapse {
  margin-top: 55px;
}
@media (min-width: 991px) {
  .t3-mainnav .t3-navbar-collapse {
    display: none !important;
  }
}
.t3-mainnav .t3-navbar-collapse .navbar-nav {
  margin: 0 -15px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav li > a .fa {
  margin-right: 5px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a {
  border-top: 1px solid #000;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a:hover {
  background: #9fcdec;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li:first-child > a {
  border-top: 0;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .dropdown-menu {
  background: #444;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu {
  left: -1px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu > li > a:hover,
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu > li > a:focus {
  background: #9fcdec;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .dropdown > a .caret {
  position: absolute;
  top: 50%;
  right: 12px;
}