.article-header .article-aside {
  position: relative;
  float: right;
}
.pagination > li > a,
.pagination > li > span,
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #000000;
  color: #FFF;
  font-weight: bold;
}
.th-header-top {
  padding: 40px 0 20px;
}
#form-login-submit {
  position: relative;
  z-index: 100;
}
#form-login-remember {
  z-index: 99;
  position: relative;
}
.well {
  background-color: transparent;
}
.form-horizontal .control-group .controls {
  margin-left: 0px;
}
.btn {
  background: #9fcdec;
}
.row1,
.row0 {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #FFF;
  font-weight: bold;
}
.row1 a,
.row0 a {
  color: #FFF;
  font-weight: bold;
}
.jg_photo_container {
  float: none;
}
.jg_element_gal {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .jg_element_gal {
    float: left;
    width: 100%;
    clear: both;
  }
}
.jg_element_txt {
  width: 100%;
  text-align: center;
}
.jg_row {
  margin-left: 2%;
}
.jg_row .jg_element_cat {
  padding-right: 1%;
}
.jg_row .jg_element_cat img {
  max-width: 100%;
  height: auto;
}
.logo {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  height: auto;
  min-height: 150px;
}
.logo a {
  background: transparent;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  margin: 0;
  font-size: 50px;
  font-family: 'Belleza', sans-serif;
}
.logo:hover a,
.logo a:hover,
.logo a:active,
.logo a:focus {
  text-decoration: none;
}
.logo img {
  height: 60px;
  width: auto;
}
@media screen and (min-width: 991px) {
  .logo {
    position: static;
  }
}
.off-canvas-toggle + .container .navbar-header .logo {
  left: 24px;
}
.logo-image > a {
  max-width: 100%;
  max-height: 100%;
}
.logo-image > a > img {
  max-width: 100%;
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-text {
  text-transform: uppercase;
  font-size: 16px;
}
.logo-text a {
  line-height: 24px;
  padding: 0 17px;
}
.logo-text .site-slogan {
  display: none;
}
.head-search {
  height: 24px;
  position: absolute;
  right: 0;
  margin: 0;
  z-index: 1000;
}
.head-search form {
  margin: 0;
}
.head-search label {
  display: none;
}
.head-search .search {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}
@media screen and (min-width: 991px) {
  .head-search .search {
    background: rgba(0, 0, 0, 0.5);
  }
}
.head-search .search .fa-search {
  color: #ffffff;
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  position: absolute;
  left: 20px;
  top: 19px;
}
.head-search .form-control {
  border: 0;
  background: transparent;
  color: #ffffff;
  height: 23px;
  line-height: 24px;
  position: relative;
  margin: 0;
  padding: 0 15px 0 40px;
  width: 0;
  -webkit-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
}
@media screen and (min-width: 991px) {
  .head-search .form-control {
    height: 24px;
  }
}
.head-search .form-control:hover,
.head-search .form-control:active,
.head-search .form-control:focus {
  color: #ffffff;
  box-shadow: none;
}
.head-search .form-control:active,
.head-search .form-control:focus {
  width: 180px;
}
@media screen and (min-width: 991px) {
  .head-search {
    right: 0px !important;
  }
}
.navbar-toggle + .head-search {
  right: 24px;
}
@media screen and (min-width: 991px) {
  .head-search,
  .navbar-toggle + .head-search {
    right: 15px;
    top: 0;
  }
}
.t3-sl .t3-module {
  margin-bottom: 0;
  margin-top: 17px;
}
.t3-sl-1 .module-title,
.t3-sl-2 .module-title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.t3-sl-1 .module-title .module-sub-title,
.t3-sl-2 .module-title .module-sub-title {
  font-size: 14px;
  font-weight: 300;
  display: block;
  text-transform: none;
  padding-top: 15px;
}
.t3-mainbody {
  background: #FFFFFF;
}
.sidebar-left .t3-content {
  z-index: 1;
}
.two-sidebar .t3-content {
  z-index: 1;
}
.two-sidebar .t3-sidebar-2 {
  z-index: 2;
}
.t3-content,
.t3-sidebar {
  
  padding-top: 0px;
}
@media screen and (max-width: 992px) {
  .t3-sidebar-1 {
    z-index: 1;
  }
}
@media screen and (max-width: 768px) {
  .t3-sidebar-left {
    z-index: 1;
  }
}
.t3-footer {
  margin-top: 0px;
  margin-bottom: 20px;
  z-index: 999;
  position: relative;
}
.t3-footer:before,
.t3-footer:after {
  content: " ";
  display: table;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footer-sl {
  padding: 0;
}
.t3-footer-sl:before,
.t3-footer-sl:after {
  content: " ";
  display: table;
}
.t3-footer-sl:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .t3-footer-sl {
    padding: 34px 0;
  }
}
.t3-footer-sl .t3-module {
  color: #666666;
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}
.t3-footer-sl .t3-module .module-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 8.5px;
}
.t3-footer-sl .t3-module ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.t3-footer-sl .t3-module ul > li {
  line-height: 24px;
}
.t3-footer-sl .t3-module ul > li > a {
  color: #666666;
}
.t3-footer-sl .t3-module ul > li > a:hover,
.t3-footer-sl .t3-module ul > li > a:active,
.t3-footer-sl .t3-module ul > li > a:focus {
  color: #9fcdec;
}
.th-footer {
  padding: 0 20px;
}
.th-footer .th-footer-module i {
  display: block;
  margin-bottom: 20px;
}
.th-footer .th-footer-module i::before {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.th-footer .sp-tweet-item {
  padding: 10px 0 0 0;
  border-bottom: none;
}
#back-to-top {
  right: 20px;
  top: auto;
  z-index: 999;
}
#back-to-top.affix {
  bottom: 34px;
}
#back-to-top a {
  outline: none;
}
#back-to-top i {
  font-size: 12px;
}
#back-to-top button.btn {
  padding: 6px 10px;
}
.t3-copyright {
  background: none;
  color: #FFFFFF;
  border-top: 1px solid #eeeeee;
  font-size: 11px;
  padding: 17px 0 17px;
}
.t3-copyright:before,
.t3-copyright:after {
  content: " ";
  display: table;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright small {
  margin-bottom: 5px;
}
.t3-copyright .footer-right {
  padding-right: 20px;
  text-align: right;
}
.t3-copyright .footer-right div.sp_social ul {
  float: right;
}
@media screen and (max-width: 992px) {
  .t3-copyright .footer-right div.sp_social ul {
    text-align: center;
    float: none;
    margin-top: 15px;
  }
}
@media screen and (max-width: 992px) {
  .t3-copyright .footer-right {
    text-align: center;
    padding-right: 0px;
  }
}
@media screen and (max-width: 992px) {
  .copyright {
    text-align: center;
  }
}
.poweredby:before,
.poweredby:after {
  content: " ";
  display: table;
}
.poweredby:after {
  clear: both;
}
@media screen and (min-width: 991px) {
  .poweredby {
    text-align: right;
  }
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  display: inline-block;
}
.th-read-more {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-top: 30px;
  padding-top: 5px;
  border-top: 2px solid #ddd;
  display: inline-block;
  color: #cae3f4;
}
.th-read-more:hover {
  text-decoration: none;
  color: #ddd;
}
.th-box,
.th-page-header,
.margin-right-wrapper,
.margin-left-wrapper,
.th-box-wrapper {
  background: #fff;
  position: relative;
  
}
.th-box article,
.th-page-header article,
.margin-right-wrapper article,
.margin-left-wrapper article,
.th-box-wrapper article {
  
}
.th-box article .img-full,
.th-page-header article .img-full,
.margin-right-wrapper article .img-full,
.margin-left-wrapper article .img-full,
.th-box-wrapper article .img-full {
  margin: -20px -20px 0;
}

.margin-right-wrapper {
  margin-right: -20px;
  
}
@media screen and (max-width: 991px) {
  .margin-right-wrapper {
    margin-right: 0;
  }
}

.margin-left-wrapper {
  margin-left: -20px;
  
}
@media screen and (max-width: 991px) {
  .margin-left-wrapper {
    margin-left: 0;
  }
}

.th-box-wrapper,
.margin-right-wrapper,
.margin-left-wrapper {
  padding: 20px;
}

.highlight-primary {
  background: #9fcdec;
  color: #fff;
}
.highlight-primary img {
  width: 100%;
  margin-top: 20px;
}
.highlight-blue {
  background: #80a7f4;
  color: #fff;
}
.th-page-header > div {
  padding-top: 34px;
  padding-bottom: 34px;
  background: no-repeat;
  background-size: cover;
}
.th-page-header h1 {
  margin: 17px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: inline-block;
}
.showcase {
  margin-top: 17px;
  padding: 0 20px;
}
.showcase > div {
  background: #262626;
}
.showcase > div > div {
  padding: 0;
}
.showcase .showcase-right ul.top-service-box {
  margin: 0;
  padding: 5px 5px 5px 7px;
  list-style: none;
  display: table-cell;
}
.showcase .showcase-right ul.top-service-box li {
  width: 220px;
  height: 220px;
  margin: 5px;
  position: relative;
  float: left;
  padding: 50px 20px 20px;
  -webkit-transform: translateZ(0);
  
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 1199px) {
  .showcase .showcase-right ul.top-service-box li {
    width: 179px;
    height: 178px;
    padding: 30px 15px 15px;
  }
}
@media screen and (max-width: 991px) {
  .showcase .showcase-right ul.top-service-box li {
    width: 100%;
    height: 100%;
    padding: 30px 15px 15px;
    margin: 0;
  }
}
.showcase .showcase-right ul.top-service-box li:nth-child(1) {
  background: #afcea2;
}
.showcase .showcase-right ul.top-service-box li:nth-child(2) {
  background: #e4d082;
}
.showcase .showcase-right ul.top-service-box li:nth-child(3) {
  background: #d17383;
}
.showcase .showcase-right ul.top-service-box li:nth-child(4) {
  background: #798790;
}
.showcase .showcase-right ul.top-service-box li a {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  letter-spacing: .5px;
  position: absolute;
  bottom: 10px;
  left: 60px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.showcase .showcase-right ul.top-service-box li a:hover {
  text-decoration: none;
  color: #333;
  background: #fff;
}
.showcase .showcase-right ul.top-service-box li:hover {
  
}
@media screen and (max-width: 991px) {
  .showcase .showcase-right ul.top-service-box li:hover {
    padding-bottom: 40px;
  }
}
.showcase .showcase-right ul.top-service-box li:hover a {
  left: 20px;
  
  opacity: 1;
  filter: alpha(opacity=100);
}
@media screen and (max-width: 1199px) {
  .showcase .showcase-right ul.top-service-box li:hover a {
    left: 15px;
  }
}
.showcase .showcase-right ul.top-service-box li:hover:nth-child(1) {
  -webkit-box-shadow: 0 0 0 12px #afcea2;
  box-shadow: 0 0 0 12px #afcea2;
  z-index: 999;
}
.showcase .showcase-right ul.top-service-box li:hover:nth-child(2) {
  -webkit-box-shadow: 0 0 0 12px #e4d082;
  box-shadow: 0 0 0 12px #e4d082;
  z-index: 999;
}
.showcase .showcase-right ul.top-service-box li:hover:nth-child(3) {
  -webkit-box-shadow: 0 0 0 12px #d17383;
  box-shadow: 0 0 0 12px #d17383;
  z-index: 999;
}
.showcase .showcase-right ul.top-service-box li:hover:nth-child(4) {
  -webkit-box-shadow: 0 0 0 12px #798790;
  box-shadow: 0 0 0 12px #798790;
  z-index: 999;
}
.showcase .showcase-right ul.top-service-box li h2 {
  font-size: 24px;
  letter-spacing: 1px;
  margin: 0 0 10px;
  color: rgba(255, 255, 255, 0.7);
}
.showcase .showcase-right ul.top-service-box li p {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
}
.social-icon {
  margin-top: 7px;
}
.sp_social ul li {
  margin-right: -4px !important;
  border-right: 1px solid #e5e5e5;
}
.sp_social ul li:last-child {
  border-right: 0;
  margin-right: 0;
}
.sp_social ul li i.fa {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 0px;
  width: 32px;
  height: 32px;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #acacac;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.sp_social ul li i.fa::before {
  border-radius: 2px;
  speak: none;
  font-size: 14px;
  line-height: 32px;
  display: block;
  -webkit-font-smoothing: antialiased;
}
.sp_social ul li i.fa::after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  display: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.sp_social ul li i.fa:hover {
  background: #9fcdec;
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.sp_social ul li i.fa:hover::before {
  -webkit-animation: toRightFromLeft 0.3s forwards;
  -moz-animation: toRightFromLeft 0.3s forwards;
  animation: toRightFromLeft 0.3s forwards;
}
@media screen and (max-width: 767px) {
  .sprocket-strips ul.sprocket-strips-container li {
    margin-bottom: 10px;
  }
}
.sprocket-strips-arrows .arrow i.fa,
.sprocket-lists-arrows .arrow i.fa,
.sprocket-features-arrows .arrow i.fa,
.ns2-art-controllers i.fa,
.sprocket-headlines-navigation .arrow i.fa {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 0px;
  width: 24px;
  height: 24px;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #acacac;
  overflow: hidden;
  border-radius: 2px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.sprocket-strips-arrows .arrow i.fa::before,
.sprocket-lists-arrows .arrow i.fa::before,
.sprocket-features-arrows .arrow i.fa::before,
.ns2-art-controllers i.fa::before,
.sprocket-headlines-navigation .arrow i.fa::before {
  border-radius: 2px;
  speak: none;
  font-size: 14px;
  line-height: 24px;
  display: block;
  -webkit-font-smoothing: antialiased;
}
.sprocket-strips-arrows .arrow i.fa::after,
.sprocket-lists-arrows .arrow i.fa::after,
.sprocket-features-arrows .arrow i.fa::after,
.ns2-art-controllers i.fa::after,
.sprocket-headlines-navigation .arrow i.fa::after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  display: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.sprocket-strips-arrows .arrow i.fa:hover,
.sprocket-lists-arrows .arrow i.fa:hover,
.sprocket-features-arrows .arrow i.fa:hover,
.ns2-art-controllers i.fa:hover,
.sprocket-headlines-navigation .arrow i.fa:hover {
  background: #9fcdec;
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.sprocket-strips-arrows .arrow i.fa:hover::before,
.sprocket-lists-arrows .arrow i.fa:hover::before,
.sprocket-features-arrows .arrow i.fa:hover::before,
.ns2-art-controllers i.fa:hover::before,
.sprocket-headlines-navigation .arrow i.fa:hover::before {
  -webkit-animation: toRightFromLeft 0.3s forwards;
  -moz-animation: toRightFromLeft 0.3s forwards;
  animation: toRightFromLeft 0.3s forwards;
}
.sprocket-features-list {
  min-height: 242px;
}
.sprocket-features-list .sprocket-features-desc {
  
}
.sprocket-features-list .sprocket-features-desc .testimonial {
  font-size: 17px;
  font-weight: 300;
  font-style: italic;
  color: #777;
  text-indent: 20px;
  margin-bottom: 20px;
}
.sprocket-features-list .sprocket-features-desc .testimonial::before {
  font-family: FontAwesome;
  color: #eee;
  content: "\f10d";
  position: absolute;
  left: -20px;
  top: -3px;
}
.sprocket-features-list .sprocket-features-desc .testimonial::after {
  font-family: FontAwesome;
  color: #eee;
  content: "\f10e";
  position: relative;
  left: 5px;
  top: 5px;
}
.sprocket-features-list .sprocket-features-desc .author-profile img {
  border-radius: 3px;
  width: 50px;
  float: left;
  margin-right: 10px;
}
.sprocket-features-list .sprocket-features-desc .author-profile .name {
  font-weight: 400;
}
.sprocket-features-list .sprocket-features-desc .author-profile .designation {
  font-style: italic;
}
.sprocket-features-list .sprocket-features-desc .author-profile .company-name {
  display: block;
  font-size: 13px;
}
.client-logo {
  border-bottom: 1px solid #eee;
}
@media screen and (max-width: 767px) {
  .client-logo ul.sprocket-strips-container li {
    margin-bottom: 10px;
  }
  .client-logo ul.sprocket-strips-container li .sprocket-strips-item {
    width: 165px;
    height: 60px;
    background-position: center;
  }
}
.th-login {
  margin: 7px 0 0 10px;
}
.th-login #btl .btl-panel span {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  height: 32px;
  line-height: 32px;
}
.th-login #btl .btl-panel span#btl-panel-login {
  margin-right: -3px !important;
}
.th-login #btl .btl-panel span i.fa {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 0px;
  width: 32px;
  height: 32px;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #444;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0 0 1px #e5e5e5;
  box-shadow: inset 0 0 0 1px #e5e5e5;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.th-login #btl .btl-panel span i.fa::before {
  speak: none;
  font-size: 14px;
  line-height: 32px;
  display: block;
  -webkit-font-smoothing: antialiased;
}
.th-login #btl .btl-panel span i.fa::after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  display: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.th-login #btl .btl-panel span i.fa:hover {
  background: #cc0000;
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.th-login #btl .btl-panel span i.fa:hover::before {
  -webkit-animation: toRightFromLeft 0.3s forwards;
  -moz-animation: toRightFromLeft 0.3s forwards;
  animation: toRightFromLeft 0.3s forwards;
}
#simplemodal-container .btl-content-block {
  border-radius: 0 !important;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2) !important;
  border: 0 !important;
  padding: 40px;
  
  
}
#simplemodal-container .btl-content-block h3 {
  background: transparent !important;
  padding: 0px !important;
}
#simplemodal-container .btl-content-block #btl-wrap-module {
  padding: 0;
}
#simplemodal-container .btl-content-block .modalCloseImg {
  top: 10px !important;
}
#simplemodal-container .btl-content-block #register-link,
#simplemodal-container .btl-content-block .btl-field,
#simplemodal-container .btl-content-block .btl-error-detail,
#simplemodal-container .btl-content-block .btl-error,
#simplemodal-container .btl-content-block .btl-note {
  margin: 0 !important;
}
#simplemodal-container .btl-content-block #register-link {
  font-size: 16px;
}
#simplemodal-container .btl-content-block .btl-field .btl-input > input {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  height: 34px;
}
#simplemodal-container .btl-content-block .btl-buttonsubmit {
  margin-left: 0;
  margin-right: 0;
}
#simplemodal-container .btl-content-block #bt_ul {
  padding: 0;
  float: none;
}
#simplemodal-container .btl-content-block #bt_ul li {
  list-style: none;
  margin: 0;
  padding: 10px;
  border: 1px solid #eeeeee;
}
#simplemodal-container .btl-content-block #bt_ul li:first-child {
  border-bottom: none;
}
#simplemodal-container .btl-content-block #bt_ul li a {
  color: #9fcdec !important;
}
#simplemodal-container .btl-content-block #bt_ul li a:hover {
  text-decoration: underline !important;
}
.client-logo {
  position: relative;
}
.client-logo .sprocket-strips {
  margin-top: 0;
  padding: 20px;
}
.client-logo .moduletable h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  background: #f9f9f9;
}
.sprocket-headlines-container ul.sprocket-headlines-list::before {
  content: "Breaking News";
  float: left;
  background: #333;
  color: #fff;
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 10px;
}
.project {
  margin: 0 !important;
}
.project li {
  list-style: none;
  display: block;
  border: 1px solid #f1f2f3;
  padding: 10px;
  margin-bottom: 10px;
}
.th-services {
  margin-bottom: 30px;
}
.th-services img {
  border-radius: 2px;
}
.th-services h4 {
  text-transform: uppercase;
}
.th-services a {
  margin-top: 15px;
}
.hippo-tab-shortcode {
  
}
.hippo-tab-shortcode .th-top-nav ul.nav {
  margin: 0;
  padding: 0;
}
.hippo-tab-shortcode .th-top-nav ul.nav li {
  float: left;
  margin: 0;
  padding: 0;
  background: #eee;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.hippo-tab-shortcode .th-top-nav ul.nav li:last-child {
  margin-right: 0;
  border-right: 1px solid #ccc;
}
.hippo-tab-shortcode .th-top-nav ul.nav li a {
  padding: 10px 20px;
}
.hippo-tab-shortcode .th-top-nav ul.nav li.active {
  border-bottom: 1px solid #fff;
  background: #fff;
}
.hippo-tab-shortcode .th-top-nav .tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: -1px;
}
.hippo-tab-shortcode .tabs-right::before,
.hippo-tab-shortcode .tabs-left::before,
.hippo-tab-shortcode .tabs-right ::after,
.hippo-tab-shortcode .tabs-left ::after {
  content: " ";
  display: table;
  clear: both;
}
.hippo-tab-shortcode .tabs-right .nav,
.hippo-tab-shortcode .tabs-left .nav {
  border-bottom: 0;
}
.hippo-tab-shortcode .tabs-right .nav li,
.hippo-tab-shortcode .tabs-left .nav li {
  float: none;
}
.hippo-tab-shortcode .tabs-right .nav li a,
.hippo-tab-shortcode .tabs-left .nav li a {
  min-width: 100px;
}
.hippo-tab-shortcode .tabs-right .tab-content .tab-pane,
.hippo-tab-shortcode .tabs-left .tab-content .tab-pane {
  display: none;
}
.hippo-tab-shortcode .tabs-right .tab-content .active,
.hippo-tab-shortcode .tabs-left .tab-content .active {
  display: block;
}
.hippo-tab-shortcode .tabs-left .nav {
  float: left;
  margin-right: 20px;
  border-right: 1px solid #ccc;
}
.hippo-tab-shortcode .tabs-left .nav li a {
  border: 1px solid transparent;
  margin: 0 -1px 0 0;
}
.hippo-tab-shortcode .tabs-left .nav li a:hover,
.hippo-tab-shortcode .tabs-left .nav li a:focus {
  border-right-color: #ccc;
}
.hippo-tab-shortcode .tabs-left .nav li.active a,
.hippo-tab-shortcode .tabs-left .nav li.active a:hover,
.hippo-tab-shortcode .tabs-left .nav li.active a:focus {
  border: 1px solid #ccc;
  border-right-color: #fff;
}
.hippo-tab-shortcode .tabs-right .nav {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ccc;
}
.hippo-tab-shortcode .tabs-right .nav li a {
  border: 1px solid transparent;
  margin-left: -1px;
}
.hippo-tab-shortcode .tabs-right .nav li a:hover,
.hippo-tab-shortcode .tabs-right .nav li a a:focus {
  border-left-color: #ccc;
}
.hippo-tab-shortcode .tabs-right .nav li.active a,
.hippo-tab-shortcode .tabs-right .nav li.active a:hover,
.hippo-tab-shortcode .tabs-right .nav li.active a:focus {
  border: 1px solid #ccc;
  border-left-color: #fff;
}
.hippo-accordion-shortcode .panel {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hippo-accordion-shortcode .panel .panel-heading {
  display: block;
  padding: 0;
}
.hippo-accordion-shortcode .panel .panel-heading a {
  display: block;
  padding: 10px 15px;
}
.hippo-accordion-shortcode .panel .panel-heading a:hover {
  text-decoration: none;
}
.mod-dark {
  background: #37373A;
  padding: 20px;
  color: #fff;
  overflow: hidden;
}
.mod-dark h2 {
  margin: 0;
}
.mod-dark .icon {
  float: left;
  font-size: 60px;
  line-height: 60px;
  color: #9fcdec;
  
  text-shadow: #1b1b1b 1px 1px, #1b1b1b 2px 2px, #1b1b1b 3px 3px, #1b1b1b 4px 4px, #1b1b1b 5px 5px, #1b1b1b 6px 6px, #1b1b1b 7px 7px, #1b1b1b 8px 8px, #1b1b1b 9px 9px, #1b1b1b 10px 10px, #1b1b1b 11px 11px, #1b1b1b 12px 12px, #1b1b1b 13px 13px, #1b1b1b 14px 14px, #1b1b1b 15px 15px, #1b1b1b 16px 16px, #1b1b1b 17px 17px, #1b1b1b 18px 18px, #1b1b1b 19px 19px, #1b1b1b 20px 20px, #1b1b1b 21px 21px, #1b1b1b 22px 22px, #1b1b1b 23px 23px, #1b1b1b 24px 24px, #1b1b1b 25px 25px, #1b1b1b 26px 26px, #1b1b1b 27px 27px, #1b1b1b 28px 28px, #1b1b1b 29px 29px, #1b1b1b 30px 30px, #1b1b1b 31px 31px, #1b1b1b 32px 32px, #1b1b1b 33px 33px, #1b1b1b 34px 34px, #1b1b1b 35px 35px, #1b1b1b 36px 36px, #1b1b1b 37px 37px, #1b1b1b 38px 38px, #1b1b1b 39px 39px, #1b1b1b 40px 40px, #1b1b1b 41px 41px, #1b1b1b 42px 42px, #1b1b1b 43px 43px, #1b1b1b 44px 44px, #1b1b1b 45px 45px, #1b1b1b 46px 46px, #1b1b1b 47px 47px, #1b1b1b 48px 48px, #1b1b1b 49px 49px, #1b1b1b 50px 50px, #1b1b1b 51px 51px, #1b1b1b 52px 52px, #1b1b1b 53px 53px, #1b1b1b 54px 54px, #1b1b1b 55px 55px, #1b1b1b 56px 56px, #1b1b1b 57px 57px, #1b1b1b 58px 58px, #1b1b1b 59px 59px, #1b1b1b 60px 60px, #1b1b1b 61px 61px, #1b1b1b 62px 62px, #1b1b1b 63px 63px, #1b1b1b 64px 64px, #1b1b1b 65px 65px, #1b1b1b 66px 66px, #1b1b1b 67px 67px, #1b1b1b 68px 68px, #1b1b1b 69px 69px, #1b1b1b 70px 70px, #1b1b1b 71px 71px, #1b1b1b 72px 72px, #1b1b1b 73px 73px, #1b1b1b 74px 74px, #1b1b1b 75px 75px, #1b1b1b 76px 76px, #1b1b1b 77px 77px, #1b1b1b 78px 78px, #1b1b1b 79px 79px, #1b1b1b 80px 80px, #1b1b1b 81px 81px, #1b1b1b 82px 82px, #1b1b1b 83px 83px, #1b1b1b 84px 84px, #1b1b1b 85px 85px, #1b1b1b 86px 86px, #1b1b1b 87px 87px, #1b1b1b 88px 88px, #1b1b1b 89px 89px, #1b1b1b 90px 90px, #1b1b1b 91px 91px, #1b1b1b 92px 92px, #1b1b1b 93px 93px, #1b1b1b 94px 94px, #1b1b1b 95px 95px, #1b1b1b 96px 96px, #1b1b1b 97px 97px, #1b1b1b 98px 98px, #1b1b1b 99px 99px, #1b1b1b 100px 100px;
}
.slideshow {
  margin-top: 17px;
}
.t3-bottom-sl > div.col-lg-6:first-child,
.t3-bottom-sl > div.col-md-6:first-child,
.t3-bottom-sl > div.col-sm-6:first-child,
.t3-bottom-sl > div.col-xs-6:first-child {
  margin-left: 0px;
  padding-left: 0px;
}
.t3-bottom-sl > div.col-lg-6:last-child,
.t3-bottom-sl > div.col-md-6:last-child,
.t3-bottom-sl > div.col-sm-6:last-child,
.t3-bottom-sl > div.col-xs-6:last-child {
  margin-right: 0px;
  padding-right: 0px;
}
@media screen and (max-width: 991px) {
  .t3-bottom-sl > div.col-lg-6,
  .t3-bottom-sl > div.col-md-6,
  .t3-bottom-sl > div.col-sm-6,
  .t3-bottom-sl > div.col-xs-6 {
    margin: 0px;
    padding: 0px;
  }
}