*.lck
*.LCK
/public_html/configuration.php
/public_html/Joomla_3.6.5-Stable-Full_Package.zip
/public_html/site-mycodelicforest.org-20160323-222433.zip
/public_html/--construct--/
/public_html/images/joomgallery/
/public_html/administrator/cache/
/public_html/cache/
/public_html/logs/
/public_html/components/com_sh404sef/cache/
/public_html/donors/logs/error.php
/public_html/t3-assets/
*-cache-com_*
*-cache-plg_*
