*.lck
*.LCK
/database/civicrm_job_log.sql
*.sql
/backups/
/public_html/administrator/components/com_akeeba/backup/
/public_html/media/civicrm/upload/cache/
/public_html/media/civicrm/ConfigAndLog/
/public_html/media/civicrm/templates_c/Cached*
/public_html/configuration.php
/public_html/Joomla_3.6.5-Stable-Full_Package.zip
/public_html/site-mycodelicforest.org-20160323-222433.zip
/public_html/--construct--/
/public_html/images/joomgallery/
/public_html/administrator/cache/
/public_html/cache/
/public_html/logs/
/public_html/components/com_sh404sef/cache/
/public_html/donors/logs/error.php
/public_html/t3-assets/
*-cache-com_*
*-cache-plg_*
akeeba.log
akeeba.backend.log
akeeba.backend.id48.log
public_html/administrator/components/com_akeeba/backup/akeeba.log
php_errorlog
/public_html/tmp/
php.ini 
.DS_Store
php_errorlog
public_html/tmp/
public_html/administrator/logs/error.php
public_html/administrator/logs/rsfirewall.log
/vendor/
/cache/
/logs/
/tmp/
*.zip

public_html/media/civicrm/templates_c/en_US/
public_html/media/civicrm/persist/contribute/dyn/
public_html/media/civicrm/upload/cache/timestamp.txt
public_html/media/civicrm/upload/cache/timestamp.txt
public_html/media/civicrm/upload/version-msgs-cache.json
public_html/media/civicrm/upload/cache/timestamp.txt
public_html/media/civicrm/upload/cache/timestamp.txt
public_html/media/civicrm/upload/version-msgs-cache.json
configurations/
php_errors.log
public_html.zip
.env
site-mycodelicforest.org-20210224-104154.zip
