body {
  color: #333;
  font-size: 16px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.error {
  margin: 100px auto 0;
  width: 980px;
}

#errorboxheader {
  text-align: center;
  width: 30%;
  margin: 0 auto;
  background: #FFF;
  border: 5px solid #000;
  border-radius: 50%;
  color: #000;
  font-weight: bold;
  padding:0 20px 30px 20px;
  box-shadow: 15px 0px #000;
  -webkit-box-shadow: 15px 0px #000;
  -moz-box-shadow: 15px 0px #000;
}

.error-value{
  font-size: 80px;

}

.error-message{
  font-size: 20px;
}

.error-img{
  background: url(../images/error.png) no-repeat;
  width: 199px;
  height: 306px;
  margin: 0 auto;
}

#errorboxbody{
  padding:10px 20px;
  text-align: center;

}

.btn {
  background: #fff;
  border: 2px solid #353c3e;

  padding: 7px 10px;
}

.btn-primary {
  background-color: #fff;
  color: #333;
}

.btn-primary:hover {
  background-color: #353c3e;
  border-color: #353c3e;
  color: #fff;
}