@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
::-moz-selection, 	
::selection 		{ 
	color: #fff !important; 
	background: #09C; 
}

body {
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	
	/* Fix CHROME Fonts */
	-webkit-text-stroke: 1px rgba(0,0,0,0.1);
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
}
body a,
body a:hover {
	color:	#09C;
}
body a:hover {
	text-decoration:underline;
}
a.readon {
	background: none repeat scroll 0 0 #B9B4A0;
    padding: 4px 20px;	
	text-decoration:none;
}
a.readon, 
a.readon:hover {
	  color: #FFFFFF;
}
a.readon:hover {
	text-decoration:underline;
}

table tr td {
	
}
h1, h2, h3, h4, h5, h6 { 
	font-weight:normal; 
	line-height:normal;
}
h1,
h2.title,
div.componentheading,
.component-content .title { 
	
}
h1 a,
h2.title a,
div.componentheading a,
.component-content .title a {
	font-family: inherit;
	font-size:inherit;
	font-weight:inherit;
	color:inherit;	
}
h1{ 
	font-size:3em; 
	margin-bottom:15px;
}
h1 a {
	color:inherit;
}
h2{ 
	font-size:2.5em; 
	margin-bottom:15px; 
}
h2 a {
	color:inherit;	
}
h3{ 
	font-size:2em; 
	margin-bottom:15px; 
}
h3 a {
	color:inherit;	
}
h4{ 
	font-size:1.5em; 
	margin-bottom:15px; 
}
h4 a {
	color:inherit;	
}
h5{ 
	font-size:14px; 
	color:inherit;
	margin-bottom: 15px; 
	padding:0px; 
	
}
h5 a {
	color:inherit;	
}
h6{ 
	font-size:1.3em; 
	margin-bottom: 15px; 
	padding:0px; 
	letter-spacing: 1px; 
	font-style:italic; 
}
h6 a {
	color:inherit;	
}

/* paragraphs,blockquote,code */
p { margin-bottom:15px; }
blockquote { margin: 0 0 15px 0; color: #8a8a8a; font-style: italic; font-family: Georgia, "Times New Roman", Times, serif; line-height: 1.4em; font-size: 14px; }
blockquote p { line-height: 1.4em; font-size: 14px; }
code { background: #fafafa; padding: 5px 10px; display: block; font-size: 12px; color: #858585; margin-bottom: 10px; border: 1px dotted #eaeaea; clear: both; }
strong {font-weight: bold;}

/* Lists */
ol { 
	dispaly:block;
	list-style-type: decimal; 
}

.component-content ol[style='list-style-type: lower-alpha;'],
ol[style='list-style-type: lower-alpha;'] { 
	color:inherit;
	line-height:inherit;
	font-family:inherit;
	counter-reset: item;
    list-style-type:none;
	padding:0px;
	margin:0px;
	margin-bottom:10px;
}
ol[style='list-style-type: lower-alpha;']  {
	
}
ol[style='list-style-type: lower-alpha;'] li { 
	display:block;
	
	color:inherit;
	line-height:inherit;
	font-family:inherit;
	padding:0px;
	margin:0px;
	min-height:16px;
	height:auto;
	
}
ol[style='list-style-type: lower-alpha;'] li:before { 
	display:inline-block;
    content: counter(item) "        "; 
    counter-increment: item ;
	color:#FFFFFF;
	font-size:12px;
	line-height:16px;
	position:relative;
	margin:1px;
	margin-top:2px;
	margin-right:10px;
	padding-left:1px;
	text-align:center;
	width:17px;
	height:16px;
	background:url(../images/ol-li-bkgrnd.png) no-repeat 50% 50%;
	

}
/* CUSTOM LISTS */
ul {
	list-style:disc; 
}
ul, ol {
	margin:5px 0px;
}
ul.list-type-1,
ul.list-type-2,
ul.list-type-3,
ul.list-type-4,
ul.list-type-5,
ul.list-type-6,
ul.list-type-7,
ul.list-type-8 {
	padding-left:0; 
	margin-bottom:20px; 
	margin-left:0px;
}
ul.list-type-1 li {padding-left:15px; list-style:none; background:url(../images/bullet-list_01.png) no-repeat 0 0; line-height:20px;}
ul.list-type-2 li {padding-left:15px; list-style:none; background:url(../images/bullet-list_02.png) no-repeat 0 0; line-height:20px;}
ul.list-type-3 li {padding-left:15px; list-style:none; background:url(../images/bullet-list_03.png) no-repeat 0 0; line-height:20px;}
ul.list-type-4 li {padding-left:25px; list-style:none; background:url(../images/bullet-list_04.png) no-repeat 0 0; line-height:20px; margin-bottom:5px;}
ul.list-type-5 li {padding-left:25px; list-style:none; background:url(../images/bullet-list_05.png) no-repeat 0 0; line-height:20px; margin-bottom:5px;}
ul.list-type-6 li {padding-left:25px; list-style:none; background:url(../images/bullet-list_06.png) no-repeat 0 0; line-height:20px; margin-bottom:5px;}
ul.list-type-7 li {padding-left:25px; list-style:none; background:url(../images/bullet-list_07.png) no-repeat 0 0; line-height:20px; margin-bottom:5px;}
ul.list-type-8 li {padding-left:25px; list-style:none; background:url(../images/bullet-list_08.png) no-repeat 0 0; line-height:20px; margin-bottom:5px;}

ul {
	display:block;
	margin:0px;
	padding:0px;
	padding-left:20px;
}

ul li {
	list-style:outside;
	padding:0px;
	margin:0px;
}
ul[style='list-style-type: circle;'] {
	margin-left:0px;	
	padding-left:2px;
}
ul[style='list-style-type: circle;'] li{
	list-style-type:none;
}
ul[style='list-style-type: circle;'] li:before {
    color: 	#09C;
    content: " • ";
}
.pre {
	font: 11px Courier, "Courier New", monospace; 
	padding: 5px 5px 5px 15px; 
	border: 1px solid #ccc; 
	background:#efefef; 
	-webkit-border-radius: 5px 5px 5px 5px ; 
	-moz-border-radius:  5px 5px 5px 5px ; 
	border-radius: 5px 5px 5px 5px ; 
	color: #333; 
	line-height: 19px;
	overflow:auto;
	overflow-Y: hidden; 
	clear:both; 
	margin-bottom:20px;
}

.separator {
	background:#eee; 
	height: 1px;  
	margin: 0 0 15px; 
}

img.shadow {
	padding:4px; 
	border:1px solid #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
	-webkit-transition: all .3s ease; 
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease; 
	transition: all .3s ease; 
}
img.addborder {
	border:1px solid #ededed;
}

table.highlight-special {
	border:2px solid #c6d9e2;
	width:100%;
}

/* First Row */
table.highlight-special tr:nth-child(1) {
		
}
table.highlight-special tr:nth-child(1) td {
	height:39px;
	background:#78a2b3;
	color:#6a7c82;
}

table.highlight-special tr td {
	height:30px;
	line-height:30px;
	color:#203040;
	font-size:11px;
	padding-left:14px;
	background:#f3f4f3;
}
table.highlight-special tr:nth-child(odd) td:first-child {
	background:	#ffffff;
}
table.highlight-special tr:nth-child(odd) td {
	background:	#f3f4f3;
}
table.highlight-special tr:nth-child(odd) td:last-child {
	background:	#d8e5ea;
}


table.highlight-special tr:nth-child(even) td:first-child {
	background:	#f2f2f2;
}
table.highlight-special tr:nth-child(even) td {
	background:	#e7e7e7;
}
table.highlight-special tr:nth-child(even) td:last-child {
	background:	#cdd9de;
}


table.highlight-special tr:nth-child(1) td:first-child {
	color:#3d4e5b;	
	background:#80abbd;
	width:50%;
}
table.highlight-special tr:nth-child(1) td {
	background:#78a2b3;
	width:25%;
}
table.highlight-special tr:nth-child(1) td:last-child {
	background:#6c99ae;
}

/* First Row */
table.highlight-comparison tr {
	
}
table.highlight-comparison {
	border:1px solid #e2e2e2;
	width:100%;
	border-collapse:collapse;
	margin-bottom:10px;
}
table.highlight-comparison tr:nth-child(1) {
		
}
table.highlight-comparison tr:nth-child(1) td {
	height:39px;
	background:#78a2b3;
	color:#6a7c82;
}
table.highlight-comparison tr {
	
}
table.highlight-comparison tr td {
	height:30px;
	color:#545454;
	font-size:11px;
	
	background:#FFFFFF;
	border:0px;
	border-right:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	
	vertical-align:middle;
	text-align:center;
	min-width:125px;
	
}
table.highlight-comparison tr td:first-child {
	text-align:left;
	padding-left:14px;
}
table.highlight-comparison tr:nth-child(2) td:last-child {
	background:url(../images/table-highlight-compare-right.png) no-repeat 100% 0%;
}
table.highlight-comparison tr td:last-child {
	background:url(../images/table-highlight-compare-right.png) no-repeat 100% 50%;
}
table.highlight-comparison tr:last-child td:last-child {
	background:url(../images/table-highlight-compare-right.png) no-repeat 100% 100%;
}

table.highlight-comparison tr:nth-child(1) {

}
table.highlight-comparison tr:nth-child(1) td:first-child {
	background:url(../images/table-highlight-compare-top.png) no-repeat 0px 0px;
	margin-left:3px solid #FFF;
	border-left:1px solid #e2e2e2;
}
table.highlight-comparison tr:nth-child(1) td {
	background:url(../images/table-highlight-compare-top.png) no-repeat 50% 0%;
	color:#4f5052;	
	font-weight:bold;
	border-bottom:0px;
	border-right:1px solid #cbcac8;
	
}
table.highlight-comparison tr:nth-child(1) td:last-child {
	background:url(../images/table-highlight-compare-top.png) no-repeat 100% 0%;
	border:0px;
	
}

