#tbw-pagemiddle #t3-mainbody .th-box-wrapper {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
#tbw-pagemiddle div.itemListCategory {
  background: transparent;
  border: 0px;
}
#tbw-pagemiddle div.itemListCategory h2 {
  font-size: 30px;
}
#tbw-pagetop .slideshow {
  margin-top: 0px;
  min-height: 230px;
}
body.com_joomgallery #tbw-pagemiddle #t3-mainbody .th-box-wrapper {
  border: 0px;
  background: rgba(0, 0, 0, 0.5);
}
