.mup-widget-1 {
    font-family: "lucida grande", lucida, tahoma, helvetica, arial, sans-serif !important;
    font-size: 12px;
}
.mup-widget-1 .mup-widget,
.mup-widget-1 .mup-widget .mup-hd a,
.mup-widget-1 .mup-widget h3,
.mup-widget-1 .mup-widget h4 {
    background: #1A1A1A;
}
.mup-widget-1 .mup-widget {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mup-widget-1 .mup-widget .mup-hd {
    padding: 10px 8px;
    overflow: hidden;
}
.mup-widget-1 .mup-widget h3 {
    font-size: 16px;
    font-weight: bold;
}
.mup-widget-1 .mup-widget h3 a {
    color: #AAA;
}
.mup-widget-1 .mup-widget h4 {
    font-size: 13px;
    font-weight: normal;
    color: #F2F2F2;
}
.mup-widget-1 .mup-widget .mup-bd,
.mup-widget-1 .mup-widget .mup-timeline,
.mup-widget-1 .mup-widget .mup-bd p {
    color: #000;
}
.mup-widget-1 .mup-widget .mup-bd {
    padding: 0 1px;
}
.mup-widget-1 .mup-widget a,
.mup-widget-1 .mup-widget a:active,
.mup-widget-1 .mup-widget a:visited,
.mup-widget-1 .mup-widget a:hover {
    color: #f2f2f2;
    text-decoration: none;
}
.mup-widget-1 .mup-widget .mup-timeline {
    background: #AAA;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #000;
}
.mup-widget-1 .mup-widget .mup-timeline > li {
    position: relative;
    border-top-color: #DDD;
    border-top-style: dotted;
    border-top-width: 1px;
    padding: 6px 8px;
}
.mup-widget-1 .mup-widget .mup-what {
    margin-bottom: 3px;
}
.mup-widget-1 .mup-widget .mup-time {
    font-size: 9px;
    line-height: 1.2em;
}
.mup-widget-1 .mup-widget .mup-comment {
    word-wrap: break-word;
    line-height: 1.2em;
}
.mup-widget-1 .mup-widget .mup-author {
    line-height: 1.2em;
}
.mup-widget-1 .mup-widget .mup-ft .mup-getwdgt {
    padding: 3px 8px;
    font-size: 8px;
    text-align: center;
    background: #0A0A0A;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.mup-widget-1 .mup-widget .mup-ft .mup-logo {
    padding: 6px 8px;
}