
<html>
<head>
<link href="/v/vspfiles/templates/ysbw/css/Colors.css" rel="stylesheet" type="text/css"><link href="/v/vspfiles/templates/ysbw/css/Content_Area.css" rel="stylesheet" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/javascript">
<!--
function printPage() {
if (window.print)
window.print()
}
// -->
</script>
</head>
<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="">

<style type=text/css>
BODY {
    FONT: 14px Verdana; COLOR: #000000;
}
TABLE {
    FONT: 14px Verdana; COLOR: #000000;
}
TD {
    FONT: 14px Verdana; COLOR: #000000;
}
.pos_receipt td {
    font-family: "Courier New", Courier, monospace;
}
span.WarehouseLocation
{
width:50px;
border-bottom-color: black;
border-bottom-style: dashed;
border-bottom-width: 1px;
}
</style>

<table cellpadding=0 cellspacing=0 width="100%" align="center">
  <tr>
    <td align="center">
      <table cellpadding=0 cellspacing=0 width=600>
        <tr>
          <td width="100%">
            <table width="600" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="400">
				
				<strong><font size=5>Yuma's Bargain Warehouse, Inc.</font></strong>
				<div id="div_articleid_84">
</div><!-- .vcb-article -->
<textarea style="display:none;" id="articleBody_84" readonly="true"></textarea>

				</td>
                <td width="200" align="right">
                  <table width=180 border=0 cellpadding=0 cellspacing=0>
				  	
                    <tr>
                      <td width=90 align=left><b>Date:</b></td>
                      <td width=90><b>Order#:</b></td>
                    </tr>
                    <tr>
                      <td width=75 align=left> 07/28/2021 </td>
                      <td><font size=3><b>37180</b></font></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td width="100%"><img src='/clear1x1.gif' width='1' height='1' border=0 alt=""></td>
        </tr>
      </table>
      
      <table width="602" border="0" cellspacing="0" cellpadding="1" bgcolor="#EEEEEE">
        <tr>
          <td>
            <table cellspacing=0 cellpadding=2 width=600 border=0 bgcolor="#FFFFFF">
              <tr>
                <td bgcolor="#EEEEEE"><b>Order Comments:</b></td>
              </tr>
            </table>
            <table cellspacing=0 cellpadding=2 width=600 border=0>
              <tr>
                <td><img src='v/vspfiles/templates/ysbw/images/pixel_black.gif' height=2 width=100%></td>
              </tr>
            </table>
            <table cellspacing=0 cellpadding=5 width=600 border=0 bgcolor="#FFFFFF">
              <tr>
                <td bgcolor=#F9F9F9 valign="TOP" width="600">
                                    
                
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      
      <br />
			
      <table width="602" border="0" cellspacing="0" cellpadding="1" bgcolor="#EEEEEE">
        <tr>
          <td>
            <table border=0 cellspacing=0 cellpadding=2 width="100%" bgcolor="#FFFFFF">
              <tr>
                <td width="50%" bgcolor="#EEEEEE"><b>Bill To:</b> (Customer ID#24262)</td>
                <td width="50%" bgcolor="#EEEEEE"><b>Ship To:</b></td>
              </tr>
            </table>
            <table cellspacing=0 cellpadding=2 width=100% border=0>
              <tr>
                <td colspan=2><img src='v/vspfiles/templates/ysbw/images/pixel_black.gif' height=2 width=100%></td>
              </tr>
            </table>
            <table cellspacing=0 cellpadding=5 width=100% border=0 bgcolor="#FFFFFF">
              <tr valign="top">
                <td width="50%" bgcolor=#F9F9F9>
                Rachael&nbsp;Fales<br>
				    2209 N 52nd St<br>
				    Milwaukee, WI&nbsp;53208<br>
				    United States<br>
				    (707) 845-2328<br>
				    rachaelkfales@gmail.com
				</td>
                <td width="50%" bgcolor=#F9F9F9>
		Sandor&nbsp;Stockfleth<br>
				2802 N St<br>
				Eureka , CA&nbsp;95501<br>
				United States<br>
				(707)499-4179
				</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <br>
      <table width="602" border="0" cellspacing="0" cellpadding="1" bgcolor="#EEEEEE">
        <tr>
          <td>
		    <table cellspacing=0 cellpadding=2 width="100%" border=0 bgcolor="#FFFFFF">
              <tr>
                <td width="50%" bgcolor="#EEEEEE"><b>Payment Method:</b></td>
                <td width="50%" bgcolor="#EEEEEE"><b>Shipping Method:</b></td>
              </tr>
            </table>
            <table cellspacing=0 cellpadding=2 width=100% border=0>
              <tr>
                <td colspan=2><img src='v/vspfiles/templates/ysbw/images/pixel_black.gif' height=2 width=100%></td>
              </tr>
            </table>
            <table cellspacing=0 cellpadding=5 width=100% border=0 bgcolor="#FFFFFF">
              <tr valign="top">
                <td width="50%" bgcolor=#F9F9F9>
<input type="hidden" class="pciaas_NumberPart" value="************7494" />
<input type="hidden" class="pciaas_NumberPart" value="************7494" />
<b>Credit Card</b>:&nbsp;<span class="span_CardType">Visa</span><br>Rachael Fales<br>************7494<br>
				</td>
                <td width="50%" bgcolor=#F9F9F9>
	             UPS Ground
                </td>
              </tr>
            </table>
					</td>
        </tr>
      </table>
      <br>

    <table width="602" border="0" cellspacing="0" cellpadding="1" bgcolor="#EEEEEE">
        <tr>
          <td>
            <table cellspacing=0 cellpadding=2 width=100% border=0>
 
             <tr>

                <td align="LEFT"  width="12%" bgcolor="#EEEEEE"><b>Code</b></td>
                <td align="LEFT"  width="67%" bgcolor="#EEEEEE"><b>Description</b></td>
                <td align="LEFT"  width="6%" bgcolor="#EEEEEE"><b>Quantity</b></td>

                <td align="right" width="7%" bgcolor="#EEEEEE"><b>Price</b></td>
                <td align="right" white width="8%" bgcolor="#EEEEEE"><b>Total</b></td>
             </tr>

              <tr>
                <td colspan="5"><img src="v/vspfiles/templates/ysbw/images/pixel_black.gif" height=2 width="100%"></td>
              </tr>
			 
              <tr valign="top">
                

                <td bgcolor="#F9F9F9" width="12%" valign=TOP><nobr>4042</nobr>
				</td>
                <td bgcolor="#F9F9F9" align="LEFT"   width="67%" valign=TOP><b>Small Eye Bolt (100 pieces) MEB</b>
				  
                  &nbsp;

				

				  </td>
                <td bgcolor="#F9F9F9" width="6%"  valign=CENTER>1
</td>


                <td bgcolor="#F9F9F9" align="right"  width="7%"  valign=CENTER>
                  <nobr>$24.75
</nobr>

                </td>
                <td bgcolor="#F9F9F9" align="right"  width="8%"  valign=CENTER>
                  <nobr>$24.75
</nobr>

                </td>
              </tr>
		        
              <tr>
                <td colspan="5"><img src="v/vspfiles/templates/ysbw/images/pixel_black.gif" height=1 width="100%"></td>
              </tr>
             
              <tr valign="top">
                

                <td bgcolor="#F9F9F9" width="12%" valign=TOP><nobr>2210</nobr>
				</td>
                <td bgcolor="#F9F9F9" align="LEFT"   width="67%" valign=TOP><b>1" Flat 5 Way - FF5BW</b>
				  
                  &nbsp;

				

				  </td>
                <td bgcolor="#F9F9F9" width="6%"  valign=CENTER><font size=4><b>8</b></font>
</td>


                <td bgcolor="#F9F9F9" align="right"  width="7%"  valign=CENTER>
                  <nobr>$12.00
</nobr>

                </td>
                <td bgcolor="#F9F9F9" align="right"  width="8%"  valign=CENTER>
                  <nobr>$96.00
</nobr>

                </td>
              </tr>
		        
              <tr>
                <td colspan="5"><img src="v/vspfiles/templates/ysbw/images/pixel_black.gif" height=1 width="100%"></td>
              </tr>
             
              <tr valign="top">
                

                <td bgcolor="#F9F9F9" width="12%" valign=TOP><nobr>2265</nobr>
				</td>
                <td bgcolor="#F9F9F9" align="LEFT"   width="67%" valign=TOP><b>1" Coupler - FFCBW</b>
				  
                  &nbsp;

				

				  </td>
                <td bgcolor="#F9F9F9" width="6%"  valign=CENTER><font size=4><b>3</b></font>
</td>


                <td bgcolor="#F9F9F9" align="right"  width="7%"  valign=CENTER>
                  <nobr>$6.50
</nobr>

                </td>
                <td bgcolor="#F9F9F9" align="right"  width="8%"  valign=CENTER>
                  <nobr>$19.50
</nobr>

                </td>
              </tr>
		        
              <tr>
                <td colspan="5"><img src="v/vspfiles/templates/ysbw/images/pixel_black.gif" height=1 width="100%"></td>
              </tr>
             
              <tr valign="top">
                

                <td bgcolor="#F9F9F9" width="12%" valign=TOP><nobr>TFS1220H</nobr>
				</td>
                <td bgcolor="#F9F9F9" align="LEFT"   width="67%" valign=TOP><b>12x20 Silver Fire Retardant Tarp - TFS1220H</b>
				  
                  &nbsp;

				

				  </td>
                <td bgcolor="#F9F9F9" width="6%"  valign=CENTER>1
</td>


                <td bgcolor="#F9F9F9" align="right"  width="7%"  valign=CENTER>
                  <nobr>$121.75
</nobr>

                </td>
                <td bgcolor="#F9F9F9" align="right"  width="8%"  valign=CENTER>
                  <nobr>$121.75
</nobr>

                </td>
              </tr>
		        
              <tr>
                <td colspan="4" bgcolor="#F9F9F9" align="right">&nbsp;</td>
                <td bgcolor="#F9F9F9" align="right" width="8%">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="4" bgcolor="#F9F9F9" align="right">Subtotal:</td>
                <td bgcolor="#F9F9F9" align="right" width="8%">$262.00</td>
              </tr>
              <tr>
<td COLSPAN='4' BGCOLOR='#F9F9F9' ALIGN='RIGHT' WIDTH='1%'>  Tax:</td>
<td BGCOLOR='#F9F9F9' ALIGN='RIGHT' WIDTH='1%'> $0.00</td>
</tr>

              <tr>
                <td colspan="4" bgcolor="#F9F9F9" align="right">Shipping &amp; Handling:</td>
                <td bgcolor="#F9F9F9" align="right" width='8%'>
                  $38.31
                </td>
              </tr>
              
              <tr>
                <td colspan="4" bgcolor="#F9F9F9" align="right"><b>Grand Total:</b></td>
                <td bgcolor="#F9F9F9" align="right" width='8%'><b>
                  $300.31</b></td>
              </tr>

              
            </table>
          </td>
        </tr>
      </table>

      <br>
<div id="div_articleid_85">
</div><!-- .vcb-article -->
<textarea style="display:none;" id="articleBody_85" readonly="true"></textarea>

   </td>
  </tr>
</table>

</body>
</html>
