@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, Sans Serif;
	text-align: center;
	background:url(../images/bkgrnd.png);
	color:#333;
	font-family: 'Open Sans', sans-serif;

}
img {
	border: 0 none;
}
/* -- id styles ------------------------------------- */
#frame {
	position:		absolute;
	display:		block;
	left:		50%;
	top:			0px;
	margin-top:	0px;
	margin-left:	-305px;
	width: 		610px;
	height:		565px;
	padding:		0px;
	padding-top:	5px;
	float:		left;
	background:	url(../images/main-bkgrnd.png) no-repeat 50% 0px;
}

#frame form {
	text-align: left;
}
/* -- class styles ---------------------------------- */
.outline {
	background: none;
	padding:0px;
	margin:0px;
	border:0px;
	width:400px;
	height:333px;
	margin-top:111px;
	margin-left:105px;
	margin-right:105px;
	font-size:10px;
}
#frame h1 {
	width:440px;
	height:56px;
	line-height:56px;
	display:block;
	background:#619edd;
	margin:0px;
	margin-top:10px;
	margin-left:-20px;
	border:1px solid #86837e;
	color:#FFFFFF;
	font-size:30px;
	font-weight:300;
	overflow:hidden;
	-webkit-box-shadow:inset 0px 12px 12px 0px #74ade8;
	-moz-box-shadow:inset 0px 12px 12px 0px #74ade8;
	box-shadow:inset 0px 12px 12px 0px #74ade8;
}
a {
	color:#444444;
	text-decoration:none;
}
a:hover {
text-decoration:underline;
}
p {
	font-size:12px;
}
.login_fields {
	padding:20px;
	padding-top:0px;
	padding-bottom:0px;
}
.login_fields label {
	font-family:inherit;
	color:#333;
	text-transform:uppercase;
	font-size:14px;
}
/* -- form styles ----------------------------------- */
form {
margin: auto;
}
form p {
	margin: 0;
	padding: 0;
}
form fieldset {
border: 0 none;
margin: 0em;
padding: 0.2em;
}
label {
display: block;
float: left;
}
input {
padding: 1px;
}
input.button {
	width: auto;
	height: 1.8em;
	cursor: pointer;
	padding:3px 8px;
	height:auto;
	-webkit-box-shadow: 0 8px 6px -8px #666;
	   -moz-box-shadow: 0 8px 6px -8px #666;
	        box-shadow: 0 8px 6px -8px #666;
	font-size:12px;
	float:right;
	margin-right:50px;
	margin-top:4px;
}
input.button:hover {
	border:1px solid #999 !important;	
	-webkit-box-shadow: 0 8px 6px -8px #000 !important;
	   -moz-box-shadow: 0 8px 6px -8px #000 !important;
	        box-shadow: 0 8px 6px -8px #000 !important;
}
label {
margin: 5px 15px;
text-align:right;
}
form p {
padding: 0.2em 0 0.2em 0;
}
form br {
display: none;
}
input {
	border: 1px solid #babab5;
	width:200px;
	height:32px;
	-webkit-box-shadow:inset 5px 6px 6px -6px #999;
	-moz-box-shadow:inset 5px 6px 6px -6px #999;
	box-shadow:inset 5px 6px 6px -6px #999;
	background:#e5e5e5;
	border-radius:3px;
	-moz-border-radius:3px;
	font-size:16px;
	padding-left:8px;
	font-family: 'Open Sans', sans-serif;
}
input.button {
background-color: white;
}
input.button:hover {
border-color:  #FC902E;
}
#frmlogin {
margin: 0 10px 0 10px;
}
#frmlogin fieldset.button {
text-align: right;
}
