.gallery {
    select, select.form-control, 
    select.inputbox, select.input {
        display:inline-block;
    }
    > .pagination {
        display:inline-block;
        width:100%;
    }
    .jg_element_gal {
        .jg_element_txt,
        .jg_imgalign_gal {
            float:left;
            clear:both;
        }
        
        .jg_element_txt {
            font-size:       2em;
            font-family:     'Megrim', cursive;
            display:         inline-block;	
            background: -webkit-linear-gradient(left, red, orange, yellow, green, cyan, blue, violet);
            background: -o-linear-gradient(left, red, orange, yellow, green, cyan, blue, violet);
            background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 0px 0px 2px rgba(255,255,255,.2); 
        } 
    }
    .jg_element_gal, 
    .jg_element_gal_r {
        width: 25%;
        box-sizing: border-box;
    }
    .jg_row {
        overflow:       hidden;
        height:         auto !important;
        padding:        0.8em 0;
        float:         none;
        display:       block;
        width:         100%;
    }
    img.jg_photo, 
    .jg_minis a img {
        background: #000000;
        max-width: 100%;
        height: auto;
    }
    div.well,
    div.jg_details, 
    div.jg_voting, 
    div.jg_commentsarea, 
    div.jg_send2friend, 
    div.jg_bbcode, 
    div.jg_exif, 
    div.jg_panemodule {
        background-color: transparent;
    }
    .radio input[type="radio"], 
    .radio-inline input[type="radio"], 
    .checkbox input[type="checkbox"], 
    .checkbox-inline input[type="checkbox"] {
        margin-left:0px;
    }
    
}