@charset "utf-8";
/* CSS Document */
.component-content .contact {
	padding:0px;
}
.contact .column {
	display:inline-block;	
	vertical-align:top;
	margin-right:2%;
	width:48%;
}

.contact .column:last-child {
	margin-right:0px;
}
.contact input[type="text"], 
.contact textarea {
    margin-top: 4px;
	padding-right:1%;
	padding-left:1%;
    width:98%;
	
}
.contact .rsform-block-interests, .contact .rsform-block-enewsletter {
    padding-bottom: 10px;
}

@media (max-width: 959px) {
	
}
@media (min-width: 768px) and (max-width: 959px) {
	
}
@media (max-width: 620px) {
	.contact .column {
		width:100%;
	}
}
@media (min-width: 480px) and (max-width: 767px){
	
}

