<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="contact"
		label="Server Database"
		description="Server database details"
	>
		<field
			name="dev_database"
			type="text"
			size="5"
			default=""
			label="Dev Database"
			description="Database name of the Dev Site" />
		<field
			name="live_database"
			type="text"
			size="5"
			default=""
			label="Live Database"
			description="Database name of the Live Site" />
		<field
			name="emergency_database"
			type="text"
			size="5"
			default=""
			label="Emergency Database"
			description="Emergency Database used for quick restorations if something fails" />
	</fieldset>
</config>