body {
  font-weight: 400;
  font-size: 12px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
}
p {
  margin: 0 0 8.5px;
  font-weight: 400;
}
a:active,
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
strong {
  font-weight: 400;
}
.lead {
  margin-bottom: 17px;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 992px) {
  .lead {
    font-size: 16px;
  }
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
.text-muted {
  color: #999999;
}
.text-primary {
  color: #9fcdec;
}
.text-warning {
  color: #c09853;
}
.text-danger {
  color: #b94a48;
}
.text-success {
  color: #468847;
}
.text-info {
  color: #3a87ad;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-center .item-image img {
  margin: 0 auto;
}
.inline {
  display: inline-block;
}
.inline + .inline {
  margin-left: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0px;
  padding: 0px;
  color: inherit;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h2 {
  text-transform: uppercase;
}
h1,
h2,
h3 {
  margin-top: 17px;
  margin-bottom: 8.5px;
}
h4,
h5,
h6 {
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}
h1,
.h1 {
  margin-top: 0px;
  font-family: "Belleza", sans-serif;
  font-size: 30px;
  color: #9fcdec;
}
h2,
.h2 {
  font-size: 22px;
}
h3,
.h3 {
  font-size: 20px;
  padding-top: 6px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 14px;
}
h1 small,
.h1 small {
  font-size: 21px;
}
h2 small,
.h2 small {
  font-size: 15px;
}
h3 small,
.h3 small,
h4 small,
.h4 small {
  font-size: 12px;
}
h1 + h3 {
  margin-top: -10px;
}
hr {
  padding: 0px;
  margin: 0px;
  margin-top: 4px;
  margin-bottom: 10px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 8.5px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 8.5px;
}
ul[style='list-style-type: circle;'] {
  margin-left: 0px;
  padding-left: 2px;
  margin-bottom: 8.5px;
}
ul[style='list-style-type: circle;'] li {
  list-style-type: none;
}
ul[style='list-style-type: circle;'] li::before {
  color: #9fcdec;
  content: " • ";
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.order-list {
  margin: 0 !important;
}
.order-list li {
  list-style: none;
}
.order-list li::before {
  font-family: FontAwesome;
  color: #f4f9fd;
  content: "\f058";
  margin-right: 10px;
  font-size: 24px;
  float: left;
}
.order-list strong {
  display: block;
}
.order-list p {
  margin-left: 30px;
}
dl {
  margin-bottom: 17px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 991px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
  .dl-horizontal dd:before,
  .dl-horizontal dd:after {
    content: " ";
    display: table;
  }
  .dl-horizontal dd:after {
    clear: both;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 8.5px 17px;
  margin: 0 0 17px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small {
  display: block;
  line-height: 1.42857143;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 17px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
  font-family: Consolas, Monaco, "Courier New", monospace;
}

input[type=text],
textarea {
  border: 1px solid #e3e3e3;
  background-color: #f4f4f4;
  padding: 5px;
  font-size: 11px;
  color: #777;
  font-family: inherit;
  padding-left: 2%;
  padding-right: 2%;
  width: 96%;
  margin: 0%;
}
input[type=text] {
  height: 20px;
}
input[type=text]:focus,
textarea:focus {
  border: 1px solid #ccc;
  background-color: #fff;
}
input[type=submit],
button.button,
div.itemCommentsForm form input#submitCommentButton {
  cursor: pointer;
  text-transform: capitalize;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 18px;
  text-decoration: none;
  margin-top: 2px;
  margin-bottom: 6px;
  font-size: 11px;
}
input[type=submit]:hover,
button.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
}
input[type="password"] {
  background-color: #F4F4F4;
  border: 1px solid #E3E3E3;
  color: #777777;
  font-size: 11px;
  padding: 5px;
}

p.formRed,
span.formError {
  color: #cf4d4d;
}
input.rsform-error[type=text],
textarea.rsform-error {
  border: 1px solid #cf4d4d;
  background: #f0d8d8;
}
input.rsform-error[type=text]:focus,
textarea.rsform-error:focus {
  background-color: #f0e5e5;
}
@media screen and (max-width: 1200px) {
  .hide-screen-lg {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .hide-screen-md {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .hide-screen-sm {
    display: none !important;
  }
}
@media screen and (max-width: 480px) {
  .hide-screen-xs {
    display: none !important;
  }
}
.show-screen-lg,
.show-screen-md,
.show-screen-lg,
.show-screen-sm,
.show-screen-xs {
  display: none;
}
@media screen and (max-width: 1200px) {
  .show-screen-lg {
    display: block !important;
  }
}
@media screen and (max-width: 992px) {
  .show-screen-md {
    display: block !important;
  }
}
@media screen and (max-width: 768px) {
  .show-screen-sm {
    display: block !important;
  }
}
@media screen and (max-width: 480px) {
  .show-screen-xs {
    display: block !important;
  }
}