

.magazine-item:before,
.magazine-featured-leading:before,
.magazine-featured-intro:before,
.magazine-category:before,
.magazine-item:after,
.magazine-featured-leading:after,
.magazine-featured-intro:after,
.magazine-category:after {
  content: " ";
  display: table;
}
.magazine-item:after,
.magazine-featured-leading:after,
.magazine-featured-intro:after,
.magazine-category:after {
  clear: both;
}
.magazine .page-subheader h2 {
  font-size: 35px;
}
.magazine-category-title {
  margin-bottom: 20px;
  font-size: 18px;
  padding: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #f5f5f5;
  margin-right: -20px;
  margin-left: -20px;
}
.magazine-category-title strong {
  font-weight: 600;
}
.magazine-category-title .fa {
  font-size: 14px;
  position: relative;
  top: -1px;
  left: 2px;
}
.magazine-category-title > a {
  display: inline-block;
  color: #ffffff;
  padding: 10px 20px;
  background: #222222;
  text-transform: uppercase;
}
.magazine-category-title > a:hover,
.magazine-category-title > a:active,
.magazine-category-title > a:focus {
  text-decoration: none;
  color: #16a085;
}
.magazine-item .page-header {
  padding: 0;
  margin-bottom: 5px;
  border-bottom: 0;
}
.magazine-item .page-header h2 {
  margin: 0;
  font-size: 16px;
  line-height: 1.275;
  font-weight: 400;
}
.magazine-item .page-header h2 a {
  color: #444444;
}
.magazine-item .page-header h2 a:hover,
.magazine-item .page-header h2 a:active,
.magazine-item .page-header h2 a:focus {
  text-decoration: none;
  color: #16a085;
}
.magazine-item .item-image,
.magazine-item .img_caption {
  overflow: hidden;
}
.magazine-item .item-image,
.magazine-item .pull-left.item-image,
.magazine-item .pull-right.item-image {
  width: 100%;
  max-width: 100%;
  float: none !important;
}
.magazine-item .item-image img,
.magazine-item .pull-left.item-image img,
.magazine-item .pull-right.item-image img,
.magazine-item .img_caption,
.magazine-item .img_caption > img {
  width: 100% !important;
  max-width: 100%;
}
.magazine-item .article-aside {
  margin-top: 10px;
  margin-bottom: 10px;
}
.magazine-item .article-info {
  color: #999999;
  margin: 0;
  width: 100%;
}
.magazine-item-ct p:last-child {
  margin-bottom: 0;
}
.magazine-leading {
  margin-bottom: 20px;
}
.magazine-leading .magazine-item .page-header h2 {
  font-size: 23px;
}
@media screen and (min-width: 768px) {
  .magazine-leading .magazine-item .item-image,
  .magazine-leading .magazine-item .img_caption {
    max-height: 400px;
  }
}
.magazine-leading .magazine-item .item-image img,
.magazine-leading .magazine-item .img_caption img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.magazine-leading .magazine-item .item-image:hover img,
.magazine-leading .magazine-item .img_caption:hover img {
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.magazine-leading .magazine-item .magazine-item-ct {
  font-size: 16px;
}
.magazine-leading .magazine-item .th-slide-des {
  position: absolute;
  bottom: 0;
  margin: 15px;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  -webkit-box-sizing: boder-box;
  -moz-box-sizing: boder-box;
  box-sizing: boder-box;
}
.magazine-leading .magazine-item .th-slide-des .magazine-item-ct {
  margin-bottom: 10px;
  color: #fff;
}
.magazine-leading .magazine-item .th-slide-des h2 a {
  color: #ffffff;
}
.magazine-leading .magazine-item .th-slide-des .magazine-item-ct {
  display: none;
}
.magazine-leading .magazine-item .th-slide-des .article-info {
  color: #dfdfdf;
}
.magazine-leading .magazine-item .th-slide-des .article-info .category-name a {
  border: 0;
  padding: 0;
  color: #dfdfdf;
}
.magazine-leading .magazine-item .th-slide-des .article-info .category-name a:hover {
  background: transparent;
  color: #16a085;
}
.magazine-leading .magazine-item .th-slide-des .article-info .category-name .fa {
  display: inline-block !important;
}
.carousel .carousel-control {
  top: 45%;
  width: 34px;
  height: 34px;
  border-radius: 2px;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel .carousel-control.left {
  left: 100px;
}
.carousel .carousel-control.right {
  right: 100px;
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background: rgba(0, 0, 0, 0.3);
}
.carousel .carousel-control.left:hover,
.carousel .carousel-control.right:hover {
  background: rgba(0, 0, 0, 0.7);
}
.carousel:hover .carousel-control {
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel:hover .carousel-control.left {
  left: 10px;
}
.carousel:hover .carousel-control.right {
  right: 10px;
}
.magazine-links {
  margin-top: 40px;
  border: 1px solid #eee;
  padding: 15px;
  min-height: 370px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.magazine-links::before {
  display: inline-block;
  content: "FEATURED NEWS";
  background: #af4b4b;
  font-weight: 400;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: #fff;
}
.magazine-links .link-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0 9px;
}
.magazine-links .link-item:last-child {
  border-bottom: none;
}
.magazine-links .page-header {
  margin: 0;
}
.magazine-links .page-header h2 {
  font-size: 14px;
  font-weight: 400;
}
.magazine-links .page-header h2 a {
  color: #444444;
}
.magazine-links .article-aside {
  margin-top: 5px;
  margin-bottom: 0;
}
.magazine-featured {
  margin-bottom: 20px;
}
.magazine-featured .th-margin-right-wrapper {
  margin-right: -20px;
}
@media screen and (max-width: 992px) {
  .magazine-featured .th-margin-right-wrapper {
    margin-right: 0;
  }
}
.magazine-featured-intro .magazine-item .item-image {
  margin-bottom: 10px !important;
}
.magazine-featured-intro .page-header h2 {
  font-size: 14px;
}
.magazine-featured-links {
  margin-top: 0;
}
.magazine-category {
  margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .magazine-category .row-articles .magazine-item-media {
    padding-right: 0;
  }
}
.magazine-category .magazine-leading {
  margin-bottom: 40px;
}
.magazine-category .magazine-item .item-image {
  margin-bottom: 20px;
}
.magazine-category .magazine-item {
  margin-bottom: 20px;
}
.magazine-category .magazine-item .category-name {
  display: none;
}
.magazine-category .magazine-item-ct {
  color: #666666;
}
.magazine-category .magazine-links {
  min-height: 100%;
}
.magazine-category .magazine-links::before {
  content: "MORE NEWS";
  background: #16a085;
}

