<?xml version="1.0" encoding="utf-8"?>
<form>
    <fieldset name="PROFILE_IMPORT">
        <field name="import_always"
               type="radio"
               label="COM_JFBCONNECT_COMMUNITYBUILDER_PROFILE_IMPORT_ALWAYS_LABEL"
               description="COM_JFBCONNECT_COMMUNITYBUILDER_PROFILE_IMPORT_ALWAYS_DESC"
               default="0"
               labelclass="config_setting"
               class="btn-group">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="import_avatar"
               type="radio"
               label="COM_JFBCONNECT_COMMUNITYBUILDER_PROFILE_IMPORT_AVATAR_LABEL"
               description="COM_JFBCONNECT_COMMUNITYBUILDER_PROFILE_IMPORT_AVATAR_DESC"
               default="0"
               labelclass="config_setting"
               class="btn-group">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="import_cover_photo"
               type="radio"
               label="COM_JFBCONNECT_COMMUNITYBUILDER_PROFILE_IMPORT_COVER_PHOTO_LABEL"
               description="COM_JFBCONNECT_COMMUNITYBUILDER_PROFILE_IMPORT_COVER_PHOTO_DESC"
               default="0"
               labelclass="config_setting"
               class="btn-group">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="skip_activation"
               type="radio"
               label="COM_JFBCONNECT_COMMUNITYBUILDER_NORMAL_REGISTRATION_SKIP_ACTIVATION_LABEL"
               description="COM_JFBCONNECT_COMMUNITYBUILDER_NORMAL_REGISTRATION_SKIP_ACTIVATION_DESC"
               default="1"
               labelclass="config_setting"
               class="btn-group">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="skip_tos"
               type="radio"
               label="COM_JFBCONNECT_COMMUNITYBUILDER_NORMAL_REGISTRATION_SKIP_TOS_LABEL"
               description="COM_JFBCONNECT_COMMUNITYBUILDER_NORMAL_REGISTRATION_SKIP_TOS_DESC"
               default="1"
               labelclass="config_setting"
               class="btn-group">
            <option value="0">Show</option>
            <option value="1">Skip</option>
        </field>
        <field name="registration_show_fields"
               type="radio"
               label="COM_JFBCONNECT_COMMUNITYBUILDER_NORMAL_REGISTRATION_SHOW_PROFILE_FIELDS_LABEL"
               description="COM_JFBCONNECT_COMMUNITYBUILDER_NORMAL_REGISTRATION_SHOW_PROFILE_FIELDS_DESC"
               default="0"
               labelclass="config_setting"
               class="btn-group">
            <option value="0">COM_JFBCONNECT_COMMUNITYBUILDER_NORMAL_REGISTRATION_SHOW_PROFILE_FIELDS_NONE_OPTION</option>
            <option value="1">COM_JFBCONNECT_COMMUNITYBUILDER_NORMAL_REGISTRATION_SHOW_PROFILE_FIELDS_REQUIRED_OPTION</option>
            <option value="2">COM_JFBCONNECT_COMMUNITYBUILDER_NORMAL_REGISTRATION_SHOW_PROFILE_FIELDS_ALL_OPTION</option>
        </field>
        <field name="imported_show_fields"
               type="radio"
               label="COM_JFBCONNECT_COMMUNITYBUILDER_NORMAL_REGISTRATION_SHOW_IMPORTED_FIELDS_LABEL"
               description="COM_JFBCONNECT_COMMUNITYBUILDER_NORMAL_REGISTRATION_SHOW_IMPORTED_FIELDS_DESC"
               default="1"
               labelclass="config_setting"
               class="btn-group">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
</form>