<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component"
		label="Test Mode Config"
		description="">
		<!--<field
			id="Logo"
			name="Logo"
			type="media"
			label="Logo"
			directory="" />-->
		
		<field
			id="enabled"
			name="enabled"
			type="radio"
			label="Site in Testmode?"
			description="Put the site in testmode? This will require providing credentials to view the front-end."
			default="0"
			class="inputbox">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="screen_door"
			type="radio"
			default="0"
			label="Screen Door active?"
			description="This allows you to access the site without credentials, by providing a passkey in your address bar.">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="passkey"
			type="text"
			label="Passkey"
			description="This allows you to access the site without credentials, by providing a key in your address bar. www.examplesite.com/?passkey=set" />
		<field
			name="testmode_message"
			type="textarea"
			label="Testmode Message"
			description="This message will be displayed if a user is unable to provide credentials." 
			default="The site you are trying to access is in test mode. Please provide credentials." />
		<field
			name="cookie_length"
			type="text"
			label="Cookie Length"
			description="This is the length of time before the access credentials expire. Acceptable formats are +1 week, +1 day, +1 hour, +1 week 2 days 4 hours 2 seconds." 
			default="+1 day" />			
	</fieldset>
</config>