.off-canvas-toggle {
  border-radius: 0;
  border: 0;
  background: transparent;
  color: #ffffff;
  padding: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.off-canvas-toggle:hover,
.off-canvas-toggle:active,
.off-canvas-toggle:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #9fcdec;
  color: #ffffff;
}
.t3-off-canvas {
  background: #ffffff;
  color: #444444;
}
.t3-off-canvas .t3-off-canvas-header {
  background: #222222;
  color: #525661;
  padding: 0 0 0 17px;
  height: 40px;
  line-height: 40px;
}
.t3-off-canvas .t3-off-canvas-header h2 {
  margin: 0;
  line-height: 40px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.t3-off-canvas .close {
  margin: 0;
  height: 40px;
  line-height: 40px;
  width: 40px;
  background: #222222;
  position: absolute;
  top: 0;
  right: 0;
  color: #525661;
  text-shadow: none;
  font-weight: 700;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.t3-off-canvas .close:hover {
  background: #9fcdec;
  color: #fff;
}
.t3-off-canvas .t3-off-canvas-body {
  padding: 8.5px 17px;
}
.t3-off-canvas .t3-off-canvas-body a {
  color: #9fcdec;
  text-decoration: none;
  border-bottom: 0;
}
.t3-off-canvas .t3-off-canvas-body a:hover,
.t3-off-canvas .t3-off-canvas-body a:focus {
  color: #5facdf !important;
  text-decoration: none;
  border-bottom: 0;
}
.t3-off-canvas .t3-off-canvas-body a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.t3-off-canvas .t3-off-canvas-body li.open > a {
  border-bottom: 0;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu > li {
  border-top: 1px solid #eee;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu > li > a {
  padding: 8.5px 17px;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu > li:last-child > a {
  border-bottom: none;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu .active a {
  background: transparent;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu > .active > a {
  color: #9fcdec;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu .dropdown-submenu > a:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #9fcdec;
  border-bottom: 0;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
  position: absolute;
  right: 8.5px;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu .dropdown-submenu > a:hover,
.t3-off-canvas .t3-off-canvas-body .dropdown-menu .dropdown-submenu:hover > a {
  color: #9fcdec;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu .dropdown-submenu > a:hover:after,
.t3-off-canvas .t3-off-canvas-body .dropdown-menu .dropdown-submenu:hover > a:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #9fcdec;
  border-bottom: 0;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu .dropdown-menu > li > a {
  padding-left: 25.5px;
  font-weight: 300;
}
.t3-off-canvas .t3-off-canvas-body .nav > li > a,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a,
.t3-off-canvas .t3-off-canvas-body .nav > li > .dropdown-toggle,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > .dropdown-toggle {
  font-weight: 400;
  background: none;
  text-transform: none;
  color: #444444;
  padding: 8.5px 17px;
}
.t3-off-canvas .t3-off-canvas-body .nav > li > a .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a .caret,
.t3-off-canvas .t3-off-canvas-body .nav > li > .dropdown-toggle .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > .dropdown-toggle .caret {
  float: right;
  margin-top: 8.5px;
  border-top-color: #9fcdec;
}
.t3-off-canvas .t3-off-canvas-body .nav > li > a:before,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:before,
.t3-off-canvas .t3-off-canvas-body .nav > li > .dropdown-toggle:before,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > .dropdown-toggle:before {
  content: "\f10c";
  position: absolute;
  left: 0;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-top: 6px;
  font-size: 10px;
}
.t3-off-canvas .t3-off-canvas-body .nav > li.active > a,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle.active > a,
.t3-off-canvas .t3-off-canvas-body .nav > li.active > .dropdown-toggle,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle.active > .dropdown-toggle {
  background: none;
  text-transform: none;
  color: #9fcdec;
}
.t3-off-canvas .t3-off-canvas-body .nav > li.active > a .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle.active > a .caret,
.t3-off-canvas .t3-off-canvas-body .nav > li.active > .dropdown-toggle .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle.active > .dropdown-toggle .caret {
  border-top-color: #9fcdec;
}
.t3-off-canvas .t3-off-canvas-body .nav > li > a:hover,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:hover,
.t3-off-canvas .t3-off-canvas-body .nav > li > a:focus,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:focus,
.t3-off-canvas .t3-off-canvas-body .nav > li > a:active,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:active {
  background: none;
  text-transform: none;
  color: #9fcdec;
}
.t3-off-canvas .t3-off-canvas-body .nav > li > a:hover .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:hover .caret,
.t3-off-canvas .t3-off-canvas-body .nav > li > a:focus .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:focus .caret,
.t3-off-canvas .t3-off-canvas-body .nav > li > a:active .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:active .caret {
  border-top-color: #9fcdec;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu {
  background: #ffffff;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu:before,
.t3-off-canvas .t3-off-canvas-body .dropdown-menu:after {
  display: none;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu > li > a {
  background: none;
  color: #444444;
}
.t3-off-canvas .t3-off-canvas-body .t3-module {
  margin-bottom: 17px;
}
.t3-off-canvas .t3-off-canvas-body .module-title {
  margin-bottom: 8.5px;
  color: #ffffff;
}