.caret {
  margin-left: 5px;
  margin-top: -2px;
}
.dropdown-menu {
  padding: 0;
  min-width: 200px;
}
.dropdown-menu .divider {
  margin: 0;
  height: 10px;
  background-color: #f2f2f2;
}
.dropdown-menu > li {
  border-top: 1px solid #333333;
}
.dropdown-menu > li:first-child {
  border-top: 0;
}
.dropdown-menu > li > a {
  padding: 10px 20px;
}
.dropdown-header {
  padding: 3px 20px;
  font-size: 12px;
}
.dropdown-header a {
  color: #999999;
}
.dropdown-submenu > a:after {
  border-left-color: #333333;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #9fcdec;
}
.nav > li > .separator {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 17px;
}
@media (min-width: 991px) {
  .nav > li > .separator {
    padding-top: 3.5px;
    padding-bottom: 3.5px;
  }
}
.nav-tabs {
  border: 1px solid #eeeeee;
  background: #f5f5f5;
}
.nav-tabs > li > a {
  padding: 10px;
  line-height: normal;
  border: 0;
  text-transform: uppercase;
}
.nav-tabs > li > a:hover {
  border: 0;
  background: transparent;
}
.nav-tabs > li.active > a {
  background: #9fcdec;
  border: 0;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: #9fcdec;
  color: #fff;
  border: 0;
}
.tab-content {
  padding: 10px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.nav .caret {
  border-top-color: #9fcdec;
  border-bottom-color: #9fcdec;
}
.nav a:hover .caret {
  border-top-color: #5facdf;
  border-bottom-color: #5facdf;
}
.t3-navhelper {
  color: #999999;
}
.breadcrumb {
  background: #eee;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 0;
  font-size: 12px;
}
.breadcrumb > li + li:before {
  content: initial;
}
.breadcrumb > .active {
  color: #999999;
}
.breadcrumb .divider {
  display: none;
}
.pagination {
  display: block;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
.pagination .pagination {
  display: inline-block;
}
.counter {
  display: inline-block;
  margin-top: 17px;
  padding: 6px 12px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0px;
}
@media screen and (min-width: 768px) {
  .counter {
    float: right;
  }
}